/*
background purple: #540B51
background ivory: #F3EAE2
button blue: #4285F4
titles black: #191817
paragraph black: #000000
paragraph yellow: #ECB12F
links blue: #2E71A6
footer links grey: #454245
*/
* {
    margin: 0 auto;
    padding: 0;
    font-size: 16px;
    font-family: "Helvetica Neue";
}
body {
    width: 200vh;
    background-color:#F3EAE2
}
nav {
    display: flex;
    flex-flow: wrap row;
    background-color: #540B51;
    border: none;
}
.menu-container {
    display: flex;
    flex-flow: row wrap;
    padding: 80px;
}
#logo {
    justify-content: flex-start;
}
.menu-container > ul {
    display: none; /* does this elimate the functionality*/
}
.search {
    margin-top: 80px;
}
.search > button {
    background-color: transparent;
    border: none;
}
.nav-btn > img {
    height: 70px ;
    width: 70px;
    padding: 25px;
} 

/* HEADER SECTION */

header {
    display: flex;
    flex-flow: column;
    background-color: #540B51;
}
.intro-text {
    color: white;
    padding: 80px;
}
.intro-text h1 {
    font-size: 9em;
    text-align: center;
}
.intro-text p {
    font-size: 3em;
    text-align: center;
    margin-top: 20px;
}
#txt-emphasis {
    color:#ECB12F;
    font-size: 1em;
}
.sign-up-btn {
    display: flex;
    flex-direction: column;
}
#email-btn {
    width: 1000px;
    height: 150px;
    font-size: 2.2em;
    font-weight: 500;
    text-transform: uppercase;
    color: #540B51;
    border-radius: 20px;
    margin-top: 50px;
}
#google-btn {
    display: flex;
    width: 1000px;
    height: 150px;
    margin-top: 20px;
    background-color: #4285F4;
    border-radius: 20px;
    align-items: center;
}
#google-btn > span {
    text-transform: uppercase;
    font-size: 2.2em;
    font-weight: 500;
    color: white;

}
.companies {
    background-color: #F3EAE2;
}
.companies p {
    font-size: 3em;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    padding-top: 90px;
}
.companies-img {
    margin-left: 30px;
    margin-right: 30px;
}

.companies-img > img {
    padding: 30px;
}
/* TEAM SECTION */
.team-section, .work-section, .tools-section {
    display: flex;
    flex-flow: column wrap;
    margin-top: 70px;
}
.team-txt h2, .work-txt h2, .tools-txt h2 {
    font-size: 5.5em;
    font-weight: 700;
    text-align: left;
    padding: 25px;
    margin-top: 35px;
    margin-left: 25px;
}
.team-txt p, .work-txt p, .tools-txt p {
    font-size: 3em;
    text-align: justify;
    line-height: 1.4em;
    padding: 50px;
    margin-left: 25px;
}
.link {
    text-decoration: none;
}
.link-text {
    font-size: 3em;
    padding: 25px;
    margin-left: 25px;
    text-align: left;
    color: #2E71A6;
}

/* SECTION SLACK STATS */
.slack-stats {
    background-color: white;
    display: flex;
    flex-flow: wrap column;
}
.slack-stats h3 {
    font-size: 5.5em;
    padding: 80px;
}
.slack-stats > p {
    font-size: 3em;
    padding: 50px;
}
.btn-box {
    display: flex;
    flex-flow: column wrap;
}
.btn-box > button {
    width: 1000px;
    height: 150px;
    font-size: 2.2em;
    font-weight: 500;
    text-transform: uppercase;
    border-radius: 20px;
    border: none;
    margin-top: 50px;
}
.slack-stats-ls {
    list-style: none;
}
.stats-num {
    font-size: 6em;
    font-weight: 800;
    color: #540B51;
}
.stats-txt {
    font-size: 2.5em;
    font-weight: 500;
}
/* LAST SECTION */
.last-section {
    display: flex;
    flex-flow: column wrap;
    background-color: #540B51;
    width: 100%;
    height: 800px;
    border-bottom-left-radius: 30%;
    border-bottom-right-radius: 30%;
}
.last-section h3 {
    color: white;
    font-size: 5.5em;
    font-weight: 700;
    align-self: center;
    padding: 25px;
    margin-top: 35px;
    margin-left: 25px;
}

/* FOOTER */
footer {
    background-color: white;
}
.footer-info {
    display: flex;
    flex-flow: row wrap;
}
.footer-info > ul, .extra-footer-info, .social-media-i {
    list-style: none;
}
.footer-info > ul > li, .extra-footer-info > li {
    font-size: 3em;
}
.social-media-i {
    display: flex;
    flex-flow: row wrap;
}
.social-media-i > li > i {
    font-size: 80px;
}
.slack-rights > small {
    font-size: 2.5em;
}