/*
background purple: #540B51
background ivory: #F3EAE2
button blue: #4285F4
titles black: #191817
paragraph black: #000000
paragraph yellow: #ECB12F
links blue: #2E71A6
footer links grey: #454245
*/
/* hey */
* {
    margin: 0 auto;
    padding: 0;
    font-size: 16px;
    font-family: "Helvetica Neue";
}
nav {
    display: flex;
    flex-flow: wrap row;
    background-color: #540B51;
    border: none;
    position: sticky;
    top: 0;
}
.menu-container {
    display: flex;
    flex-flow: row wrap;
}
#logo {
    width: 100px;
    height: 27px;
    justify-content: flex-start;
    margin: 30px;
}
.menu-container > ul {
    display: none; /* does this elimate the functionality*/
}
.search {
    margin-top: 20px;
}
.search > button {
    background-color: transparent;
    border: none;
}
.nav-btn > img {
    height: 20px ;
    width: 20px;
    padding: 10px;
} 
 
/* HEADER SECTION */

header {
    display: flex;
    flex-flow: column;
    background-color: #540B51;
}
.intro-text {
    color: white;
}
.intro-text h1 {
    font-size: 2.5em;
    text-align: center;
}
.intro-text p {
    font-size: 1.1em;
    font-weight: 500;
    text-align: center;
    margin-top: 20px;
}
#txt-emphasis {
    color:#ECB12F;
    font-size: 1em;
}
.sign-up-btn {
    display: flex;
    flex-direction: column;
}
#email-btn {
    font-size: 1em;
    font-weight: 600;
    width: 90%;
    text-transform: uppercase;
    color: #540B51;
    border-radius: 10px;
    margin-top: 10px;
    padding: 20px;
    border: none;
}
#google-icon {
    width: 30px;
    height: 30px;
}
#google-back {
    background-color:white;
    width: 30px;
    height: 30px;
    margin: 10px;
    padding: 10px;
}
#google-btn {
    display: flex;
    margin-top: 10px;
    background-color: #4285F4;
    border-radius: 10px;
    align-items: center;
    border: none;
    width: 90%;
    margin-bottom: 20px;
}
#google-btn > span {
    text-transform: uppercase;
    font-size: 1em;
    font-weight: 600;
    color: white;
}
#hero-img, #team-img, #work-img, #tools-img {
    margin-top: 20px;
    width: 100%;
    height: 100%;

}

/* Trusted Companies Section*/
.companies {
    background-color: #F3EAE2;
}
.companies p {
    font-size: 0.9em;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    padding: 30px;
}
.companies-img {
    display: flex;
    flex-flow: row wrap;
    margin-left: 30px;
    margin-right: 30px;
}
.first-four {
    display: flex;
    align-items: center;
}
.first-four img {
    height: 35px;
    margin: 20px 7px 20px 10px;
}
.last-two {
    display: flex;
    align-items: center;
}
.last-two img {
    width: 8;
    height: 35px;
    margin: 20px 7px 20px 10px; 
}

/* TEAM SECTION */
.team-section, .work-section, .tools-section {
    display: flex;
    flex-flow: column wrap;
    background-color: #F3EAE2;
}

.team-txt h2, .work-txt h2, .tools-txt h2 {
    font-size: 1.7em;
    font-weight: 700;
    text-align: left;
    padding: 10px;
    margin-top: 5px;
    margin-left: 5px;
}
.team-txt p, .work-txt p, .tools-txt p {
    font-size: 1em;
    font-weight: 500;
    text-align: justify;
    line-height: 1.4em;
    padding: 10px;
    margin: 15px;
}
.link {
    text-decoration: none;
}
.link-text {
    font-size: 0.9em;
    font-weight: 500;
    padding: 10px;
    margin: 20px;
    text-align: left;
    color: #2E71A6;
}

/* SECTION SLACK STATS */
.slack-stats {
    background-color: white;
    display: flex;
    flex-flow: wrap column;
}
.slack-stats h3 {
    font-size: 2em;
    margin-top: 15px;
    padding: 10px;
    text-align: center;
}
.slack-stats > p {
    font-size: 1em;
    font-weight: 500;
    padding: 5px;
    margin: 10px;
    text-align: center;
}
.btn-box {
    display: flex;
    flex-flow: column wrap;
}
.btn-box > button {
    width: 300px;
    height: 50px;
    font-size: 0.8em;
    font-weight: 500;
    text-transform: uppercase;
    border-radius: 5px;
    margin-top: 20px;
}
.slack-stats-ls {
    list-style: none;
    text-align: center;
    padding: 20px;
    margin: 10px;
}
.stats-num {
    font-size: 2.5em;
    font-weight: 800;
    color: #540B51;
}
.stats-txt {
    font-size: 0.8em;
    font-weight: 700;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 40px;
    margin-right: 40px;
}
/*LAST SECTION */
.last-section {
    display: flex;
    flex-flow: column wrap;
    background-color: #540B51;
    width: 100%;
    height: 370px;
    border-bottom-left-radius: 20%;
    border-bottom-right-radius: 20%;
}
.last-section h3 {
    color: white;
    font-size: 2em;
    font-weight: 700;
    padding: 25px;
    margin-top: 10px;
    text-align: center;
}
.white-button {
    background-color:#540B51;
    border: 2px solid white;
    color: white;

}
.purple-button {
    color: #540B51;
    border: none;
}

/* FOOTER */
footer {
    background-color: white;
    margin-top: 25px;
}
#slack-footer-img {
    margin: 15px;
    width: 10%;
    height: 10%;
}
hr {
    width: 90%;
    color: rgb(221, 202, 202);
}
.footer-info {
    display: flex;
    flex-flow: row wrap;
    margin: 5px;
}
.footer-info > ul, .extra-footer-info, .social-media-i {
    list-style: none;
}
.footer-info > ul > li {
    color: #454245;
    line-height: 2.2em;
    justify-content: space-around;
    padding: 3px;
}
.footer-info > ul > li, .extra-footer-info > li {
    font-size: 0.8em;
}
.extra-footer-info {
    font-weight: 600;
    line-height: 2.2em;
    margin: 15px;
}
#download {
    color: #4285F4;
}
.footer-info-tl {
    font-weight: 600;
    color: black !important;
}
.social-media-i {
    display: flex;
    flex-flow: row wrap;
}
.social-media-i > li > i {
    font-size: 16px;
}
.slack-rights {
    margin: 10px;
}
.slack-rights > small {
    font-size: 0.7em;
    color: grey;
    margin: 10px;
    padding: 10px;
    text-align: justify;
}

/* IPAD FORMAT */

@media only screen and (min-width:768px) and  (max-width: 1024px) {
 header, .btn-box, .slack-stats-ls {
    display: flex;
    flex-flow: row;
 }
 .intro-text h1 {
    text-align: left;
    margin-left: 20px;
    font-size: 4em;
 }
 .intro-text p {
    margin: 20px;
    text-align: left;
 }
 #email-btn, #google-btn {
    width: 90%;
    margin-left: 20px;
 }
 .hero-img-container {
    width: 700px;
 }
 #hero-img {
    margin-top: 100px;
    width: 400px;
    height: 40%;
 }
 .team-img-container, .work-img-container, .tools-img-container {
    margin: 0 !important;
    width: 60%;
 }
 .work-img-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
 }
 
 #work-img{
    width: 500px;
    margin: 0;
 }
 .team-txt, .work-txt, .tools-txt {
    padding: 60px;
 }
 .team-txt h2, .work-txt h2, .tools-txt h2 {
    margin-left: 55px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 1.7em;
    text-align: left;
}
.team-txt p, .work-txt p, .tools-txt p {
    margin-left: 50px;
    margin-right: 50px;
    padding-left: 40px;
    padding-right: 40px;
    justify-content: left;
    font-size: 1.2em;
    font-weight: 400;
}
 .companies p {
    padding-bottom: 5px;
 }
 .companies-img {
    display: flex;
    flex-flow: row wrap;
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: 20px;
 }
.link {
    margin-left: 55px;
}
.link-text {
    font-size: 1.2em;
}
.slack-stats > .btn-box > button {
    margin: 10px;
}
.slack-stats > .btn-box {
    margin-bottom: 30px;
}

 .last-section > .btn-box {
    display: flex;
    flex-flow: column;
}
.white-button, .purple-button {
    margin-bottom: 10px;
}
.last-section h3 {
    font-size: 2.5em;
}
.stats-txt {
    margin-left: 20px;
    margin-right: 20px;
}
#slack-footer-img {
    width: 6%;
}
.footer-info {
    margin-bottom: 30px;
}
.footer-info > ul > li {
    line-height: 40px;
}
.extra-footer-info {
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 25px;
}
.social-media-i {
    margin-bottom: 25px;
}
.slack-rights {
    text-align: center;
}
}

/* 1024 - 1440 FORMAT */

@media only screen and (min-width:1024px) and  (max-width: 1440px) {
    header {
        display: flex;
        flex-flow: row;
    }
    .menu-container > ul {
        display: flex !important;
        flex-flow: row wrap;
        list-style: none;
        margin-top: 33px;
    }
    .menu-container > ul > li > a {
        color: white;
        text-decoration: none;
        padding: 20px;
        font-size: 1em;
        font-weight: 500;
    }
    .intro-text {
        width: 1000px;
    }
    .intro-text h1 {
        font-size: 4.5em;
        margin-top: 20px;
        padding: 10px;
    }
    .intro-text p {
        margin-top: 70px;
        padding: 15px;
        font-size: 1.8em;
    }
    .hero-img-container {
        margin-top: 80px;
        width: 80%;
        overflow: hidden;
    }
    #hero-img {
    /* fix image */
    overflow:hidden;
    width: 500px;
    height: 300px;
    }
    .sign-up-btn {
        padding-bottom: 20px;
        margin-bottom: 50px;
    }
    .companies > p {
        font-size: 1.2em;
    }
    .companies-img {
        width: 100%;
        padding-left: 100px;
        padding-right: 100px;
    }
    .first-four, .last-two {
        margin: 10px;
    }
    .team-section, .tools-section {
        flex-flow: row;
    }
    .tools-section {
        padding-bottom: 70px;
    }
    .work-section {
        flex-flow: row-reverse;
    }
    .team-img-container, .work-img-container, .tools-img-container {
        width: 60%;
        height: 60%;
    }

    #team-img, #work-img, #tools-img {
        width: 100%;
        height: 100%;
        margin-top: 60px;
    }
    .team-txt h2, .work-txt h2, .tools-txt h2 {
        font-size: 2.5em;
    }
    .team-txt, .tools-txt {
        width: 70%;
        height: 70%;
        padding: 20px;
        margin-top: 50px;
    }
    .work-txt {
        margin-right: 30px;
    }

    .slack-stats h3 {
        font-size: 2.5em;
    }
    .slack-stats p {
        font-size: 1.3em;
        margin-bottom: 40px;
    }

    .last-section .btn-box { 
        display: flex;
        flex-flow: row;
    }
    .white-button {
        margin: 20px;
    }
    .purple-button {
    margin: 20px;   
}  
/* BIGGEST SCREEN SIZES */
@media only screen and (min-width:1440px) {
    header {
        display: flex;
        flex-flow: row;
    }
    .menu-container > ul {
        display: flex !important;
        flex-flow: row wrap;
        list-style: none;
        margin-top: 33px;
    }
    .menu-container > ul > li > a {
        color: white;
        text-decoration: none;
        padding: 20px;
        font-size: 1em;
        font-weight: 500;
    }
    .intro-text {
        width: 1000px;
    }
    .intro-text h1 {
        font-size: 5.4em;
        margin-top: 20px;
        padding: 80px;
    }
    .intro-text p {
        margin-top: 40px;
        padding: 15px;
    }
    .sign-up-btn {
        flex-direction: row;
        margin-bottom: 100px;
    }
    #email-btn {
        height: 70px;
        margin-right: 30px;
        margin-left: 30px;
    }
    .hero-img-container {
        margin-top: 50px;
        width: 50%;
        overflow: hidden;
        margin-top: 160px;
    }
    #hero-img {
    /* fix image */
    overflow:hidden;
    width: 650px;
    height: 400px;
    }
    .companies > p {
        font-size: 1.7em;
    }
    .companies-img {
        width: 100%;
        justify-content: center;
        padding: 0;
        margin: 0;
    }
    .team-section, .tools-section {
        flex-flow: row;
    }
    .work-section {
        flex-flow: row-reverse;
    }
    .team-img-container, .tools-img-container {
        width: 40%;
        height: 40%;
    }
    .work-img-container {
        width: 60%;
    }
    #team-img, #work-img, #tools-img {
        width: 100%;
        height: 100%;
    }
    .team-txt, .work-txt, .tools-txt {
        width: 60%;
        height: 60%;
        padding: 50px;
        margin-top: 50px;
    }
    .team-txt h2, .work-txt h2, .tools-txt h2 {
        font-size: 4em;
        padding: 1em;
    }
    .team-txt p, .work-txt p, .tools-txt p {
        font-size: 2em;
        padding: 1em;
    }
    .link {
        font-size: 2em;
    }
    .slack-stats h3, .last-section h3 {
        font-size: 4em;
        padding: 40px;
    }
    .slack-stats p {
        font-size: 2em;
        padding: 20px;
    }
    .last-section > .btn-box, .slack-stats > .btn-box, .slack-stats-ls, .extra-footer-info { 
        display: flex;
        flex-flow: row;
    }
    #slack-footer-img {
        width: 6%;
    }
    .footer-info {
        margin-bottom: 50px;
    }
    .footer-info > ul > li {
        font-size: 1.3em;
    }
    .extra-footer-info {
        margin: 30px;
        padding: 30px;
    }
    .extra-footer-info > li {
        font-size: 1.2em;
    }
    .slack-rights {
        margin-top: 40px;
    }
    .slack-rights > small {
        font-size: 1.2em;
    }
}
} 